extends layout

append scripts
  script(src='/javascripts/controllers/end.js')

block content
  .mainWrapper.u-mt-auto(ng-controller="EndController as eCtrl")
      h1 Merci pour votre participation&nbsp;!
      p Maintenant que vous connaissez vos compétences et donc votre profil, la formation
        strong  ingénierie des médias
        |  de la HEIG-VD pourra vous aider à vous perfectionner !
      p La formation pourra vous épauler lors du développement de vos connaissances dans chaque domaine,
        strong  n’hésitez plus&nbsp;!
      a.btn.u-align-end.u-mt-6.u-mb-2(href="https://im.heig-vd.ch/#competences") Retour au site
