.main#intro(ng-controller="QuizController as quizCtrl")
  .left
  .right
  .button
    .loader-ring
      .loader-ring-light
      .loader-ring-track
  .intro
    img(src="/images/novemlab_final_transparent.png" ,class="header")
    .glitch(data-text = "Bienvenue au NovemLab !") Bienvenue
      p
        input(type='text', placeholder='Prénom', ng-model='quizCtrl.joueur.name')
      button.bouton.startButton(ng-click='quizCtrl.lol()') Commencer les épreuves
