extends layout

append scripts
  script(src='/javascripts/controllers/accueil.js')

block content
  #background-intro
  p(style="position:fixed;margin-top:50px;z-index:99;")
    a(href="http://www.heig-vd.ch", target="blank")
      img(src="/images/heig-etiqu.png", class="heig", style="height:80px")
  .doors
    .left
    .credentials
        // a(href="http://media.heig-vd.ch", target="blank")
          img(src="/images/im.png",classe="im")
    .right
    // h1.centered.big-title.back
      span Devenez ACTEURS et ACTRICES de la révolution NUMÉRIQUE
    // h1.centered.big-title.front.moving
      span Devenez ACTEURS et ACTRICES de la révolution NUMÉRIQUE

    .button
      .loader-ring
        .loader-ring-light
        .loader-ring-track
  
  .row.align-self-center#intro(ng-controller="IntroControler as iCtrl") 
    .col-md-8.intro.center
      h1 Bachelor of Science in Media Engineering
      h1.emphasis Devenez acteur de la révolution numérique
      p.core-text Notre programme professionnalisant permet aux étudiant·e·s d'acquérir les compétences nécessaires à la maîtrise globale de produits et de services numériques.
      p.core-text Votre profil polyvalent basé sur des connaissances pratiques vous prépare activement aux besoins du marché du travail.
      h3(style="margin:40px auto 15px auto;text-align:center;") Quel est votre profil d'ingénieur·e des médias ?
      input(type='text', placeholder='Entrez votre prénom', ng-model='iCtrl.joueur.pseudo')
      button.startButton(ng-click='iCtrl.start()') Commencer
      span {{iCtrl.error}}

  //section.stage(style="display:none")
    figure.ball
    div.novemVoice.animated.fadeIn
      p#novemText
      button.closeNovemVoice
        span.glyphicon.glyphicon-remove-sign(aria-hidden='true')
