doctype html
html(ng-app="novemlab")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
    script(src="app.js")
    script(src="javascripts/libs/angular-ui-router.min.js")

body
    div(ng-view)
      block content

  block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
      script(src='/javascripts/services/novem.js')
      script(src='/javascripts/scripts/novemMessage.js')
      script(src='/javascripts/libs/mo.js')
      script(src='/javascripts/scripts/jqueryRotate.js')
      script(src='/javascripts/libs/mo.js')
      script(src='/javascripts/scripts/jqueryRotate.js')
      script(src="javascripts/controllers/QuizController.js")


