extends layout

append scripts
    script(src='/javascripts/controllers/niveau6.js')

block content

    .main#niveau6(ng-controller="N6Controller as n6Ctrl")
        .contentFullWidth
            .content
                .container.projet2
                    h1#mainTitle Ordre d'importance (plus haut = plus important)
                        ul#sortable1.connectedSortable
                            li.ui-state-default#prop1
                            li.ui-state-default#prop2
                        ul#sortable2.connectedSortable
                            li.ui-state-highlight#prop3
                            li.ui-state-highlight#prop4
                    button.versNiveau Envoyer
                div.novemVoice.animated.slideInUp
                    p#novemText
                    button.closeNovemVoice
                        span.glyphicon.glyphicon-chevron-down(aria-hidden='true')
                    section.stage
                        figure.ball
