extends layout

append scripts
    script(src='/javascripts/controllers/niveau3.js')

block content
    .mainWrapper(ng-controller='N3Controller as n3Ctrl')
        h1 Très bien
        #novemText
        .sortable(aria-label="Trier les activités de la meilleur à la moins bonne")
            .sortable__scale
                img(src="/images/Icon_Plus.svg" alt="Plus")
                img(src="/images/Icon_Moins.svg" alt="Moins")
            ul.sortable__list
                li.sortable__item(ng-repeat="prop in n3Ctrl.etape.propositions" value="{{prop.score}}") {{prop.reponse}}
        button.versNiveau Suivant
