extends layout

append scripts
    script(src='/javascripts/controllers/niveauF.js')

block content

    .main#niveau6(ng-controller="NFController as nfCtrl")
        .contentFullWidth
            .content
                .container.projet2
                    h1#mainTitle Ordre d'importance (plus haut = plus important)
                        ul#sortable1.connectedSortable
                            li.ui-state-default Flyers
                            li.ui-state-default Site web
                        ul#sortable2.connectedSortable
                            li.ui-state-highlight Street marketing
                            li.ui-state-highlight Réseaux sociaux
                    button#send6 Envoyer
                div.novemVoice.animated.slideInUp
                    p#novemText 