extends layout

append scripts
    script(src='/javascripts/controllers/niveau7.js')

block content

    .main#niveau7(ng-controller="N7Controller as n7Ctrl", "ng-cloak")
        .row.question#niveau1
            .col.col-sm-8.center
                p#novemText
        .row.justify-content-center
            .col.col-sm-8.center.list-group
                .row.justify-content-center
                    img(style="max-width:52px;margin-bottom:10px;")(ng-src='/images/happy_face.svg')
                ul#sortable
                    li.ui-state-default(ng-repeat="prop in n7Ctrl.etape.propositions", value="{{prop.score}}")
                        span.ui-icon.ui-icon-arrowthick-2-n-s
                        | {{prop.reponse}}
                .row.justify-content-center
                    img(style="max-width:52px;margin-top:10px;")(ng-src='/images/sad_face.svg')
            button.center.versNiveau(style='display:none') Étape suivante
