extends layout

append scripts
    script(src='/javascripts/controllers/niveau5.js')

block content
    .row.align-self-center.center.flex-w-80p(ng-controller="N5Controller as n5Ctrl")(ng-cloak)
        .col.col-sm-12
            .row.question
                .col.col-sm-8.center
                    p#novemText
            .row
                .col.col-sm-12.tools.center
                    .row.justify-content-center
                        div.col-sm-4.job(ng-repeat="prop in n5Ctrl.etape.propositions", value="{{prop.score}}")
                            h1 {{prop.reponse.titre}}
                            p{{prop.reponse.description}}
    button.center.versNiveau(style='display:none') Étape suivante
