extends layout

append scripts
    script(src='/javascripts/controllers/niveau6.js')

block content

    .main#niveau6(ng-controller="N6Controller as n6Ctrl", "ng-cloak")
        .container
            .row
                .videoDiv
                    img(src='/images/scrum.png', width='100%', height='100%', style='border:none;overflow:hidden')
            .row
                .list-group
                    a.list-group-item(href='#')(ng-repeat="prop in n6Ctrl.etape.propositions", value="{{prop.score}}") {{prop.reponse}}
                    // a.list-group-item(href='#') {{n6Ctrl.etape.propositions[1].reponse}}
                    a.list-group-item(href='#') {{n6Ctrl.etape.propositions[2].reponse}}
            button.versNiveau(style='display:none') Prochaine étape
    div.novemVoice.animated.slideInUp
        p#novemText
        button.closeNovemVoice
            span.glyphicon.glyphicon-chevron-down(aria-hidden='true')
        section.stage
            figure.ball
