extends layout

append scripts
    script(src='/javascripts/controllers/niveau7.js')

block content

    .main#niveau7(ng-controller="N7Controller as n7Ctrl", "ng-cloak")
        .contentFullWidth
            .content
                .container.projet1
                    h1#mainTitle Votre degrés de motivation (plus haut = plus grand)
                    ul#sortable
                        li.ui-state-default(ng-repeat="prop in n7Ctrl.etape.propositions", value="{{prop.competence}}")
                            span.ui-icon.ui-icon-arrowthick-2-n-s
                            | {{prop.reponse}}
                    button.versNiveau Prochaine étape
                section.stage
                    figure.ball
                    div.novemVoice.animated.fadeIn
                        p#novemText
                        button.closeNovemVoice
                            span.glyphicon.glyphicon-remove-sign(aria-hidden='true')