extends layout

append scripts
    script(src='/javascripts/controllers/niveau2.js')

block content
    .main#niveau2(ng-controller='N2Controller as n2Ctrl')(ng-cloak)
        div#ongletMenu
        .container
            .row
                ul.onglets
                    .col-xs-4.n2-prop(ng-repeat="prop in n2Ctrl.etape.propositions")
                        li.reponse(value='{{prop.score}}')
                            ul.nivEcoute
                                li(ng-repeat="val in prop.reponse") {{val}}
    
            button.versNiveau(style="display:none") Prochaine étape
            div.novemVoice.animated.slideInUp
                p#novemText
                button.closeNovemVoice
                    span.glyphicon.glyphicon-chevron-down(aria-hidden='true')
                section.stage
                    figure.ball

