extends layout

append scripts
    script(src='/javascripts/controllers/niveau5.js')

block content

    .main#niveau5(ng-controller="N5Controller as n5Ctrl")
        .contentFullWidth
            .content
                .container.projet1
                    h1#mainTitle Ordre d'importance (plus haut = plus important)
                    ul#sortable
                        li.ui-state-default(ng-repeat="prop in n5Ctrl.etape.propositions", value="{{prop.competence}}")
                            span.ui-icon.ui-icon-arrowthick-2-n-s
                            | {{prop.reponse}}
                    button.versNiveau Prochaine étape
                div.novemVoice.animated.slideInUp
                    p#novemText
                    button.closeNovemVoice
                        span.glyphicon.glyphicon-chevron-down(aria-hidden='true')
                    section.stage
                        figure.ball