extends layout

append scripts
    script(src='/javascripts/controllers/niveau7.js')

block content

    .main#niveau7(ng-controller="N7Controller as n7Ctrl")
        .contentFullWidth
            .content
                .container.projet3
                    h1#mainTitle Ordre d'importance (plus haut = plus important)
                        ul#sortable1b.connectedSortable
                            li.ui-state-default#prop1
                            li.ui-state-default#prop2
                            li.ui-state-default#prop3
                        ul#sortable2b.connectedSortable
                            li.ui-state-highlight#prop4
                            li.ui-state-highlight#prop5
                            li.ui-state-highlight#prop6
                    button#send7 Envoyer
                div.novemVoice.animated.slideInUp
                    p#novemText