extends layout

append scripts
	script(src='/javascripts/controllers/niveau1.js')

block content
	.mainWrapper(ng-controller="N1Controller as n1Ctrl")
		h1 Premier jour de travail …
		p#novemText
		.cards
			button.cards__item(ng-repeat="prop in n1Ctrl.etape.propositionsRandomised", value="{{prop.score}}")
				figure
					img(ng-src=`/images/tools/{{prop.filename}}.svg`)
					figcaption {{prop.reponse}}
		button.versNiveau(disabled) Suivant
