extends layout

append scripts
    script(src='/javascripts/controllers/niveau5.js')

block content
    .main#niveau5(ng-controller="N5Controller as n5Ctrl")(ng-cloak)
        .row.question#niveau5
            .col.col-sm-8.center
                p#novemText
        .row
            .col.col-sm-10.tools.center
                .row.justify-content-center
                    div.col-sm-4.job(ng-repeat="prop in n5Ctrl.etape.propositions", value="{{prop.score}}")
                        h1 {{prop.reponse.titre}}
                        p{{prop.reponse.description}}
            button.center.versNiveau(style='display:none') Étape suivante
