extends layout

append scripts
    script(src='/javascripts/controllers/niveauF.js')

block content

    .main#niveau5(ng-controller="NFController as nfCtrl")
        .contentFullWidth(ng-init="init5()")
            .content
                .container.projet1
                    h1#mainTitle Ordre d'importance (plus haut = plus important)
                    ul#sortable
                        li.ui-state-default
                            span.ui-icon.ui-icon-arrowthick-2-n-s
                            | {{nfCtrl.etape.propositions[0].reponse}}
                        li.ui-state-default
                            span.ui-icon.ui-icon-arrowthick-2-n-s
                            | {{nfCtrl.etape.propositions[1].reponse}}
                        li.ui-state-default
                            span.ui-icon.ui-icon-arrowthick-2-n-s
                            | {{nfCtrl.etape.propositions[2].reponse}}
                        li.ui-state-default
                            span.ui-icon.ui-icon-arrowthick-2-n-s
                            | {{nfCtrl.etape.propositions[3].reponse}}
                        li.ui-state-default
                            span.ui-icon.ui-icon-arrowthick-2-n-s
                            | {{nfCtrl.etape.propositions[4].reponse}}
                        li.ui-state-default
                            span.ui-icon.ui-icon-arrowthick-2-n-s
                            | {{nfCtrl.etape.propositions[5].reponse}}
                    button.versNiveau Envoyer
                div.novemVoice.animated.slideInUp
                    p#novemText 