extends layout

append scripts
    script(src='/javascripts/controllers/niveau2.js')

block content
    div(ng-controller='N2Controller as n2Ctrl')
        .mainWrapper
            p#novemText
        ul.listbox(role="listbox")
            li.listbox__item(id="listbox__item_{{index}}" ng-repeat="(index,prop) in n2Ctrl.etape.propositions" value="{{prop.score}}" role="option") {{prop.reponse}}
        .mainWrapper
            button.versNiveau(disabled) Suivant


