extends layout

append scripts
    script(src='/javascripts/controllers/niveau3.js')

block content
    .main#niveau3(ng-controller='N3Controller as n3Ctrl')
        .container
            .row
                .videoDiv
                    img(src='/images/shadia.gif', width='100%', height='82%', style='border:none;overflow:hidden')
        
            .row.putDown
                .col-xs-12.col-md-4.choix#1(value='{{n3Ctrl.etape.propositions[0].score}}')
                  img(src='/images/burger.svg').icon
                  h1 {{n3Ctrl.etape.propositions[0].reponse}}
                .col-xs-12.col-md-4.choix#2(value='{{n3Ctrl.etape.propositions[1].score}}')
                  img(src='/images/taille.svg').icon
                  h1 {{n3Ctrl.etape.propositions[1].reponse}}
                .col-xs-12.col-md-4.choix#3(value='{{n3Ctrl.etape.propositions[2].score}}')
                  img(src='/images/pizza.svg').icon
                  h1 {{n3Ctrl.etape.propositions[2].reponse}}
            div.valider Valider
        div.novemVoice.animated.slideInUp
            p#novemText 
            button.closeNovemVoice -
            section.stage
              figure.ball
        button.versNiveau Suite
