extends layout

prepend head
    link(rel='stylesheet', href='/style/libs/glide.core.min.css')

append scripts
    script(src='/javascripts/libs/glide.min.js')
    script(src='/javascripts/controllers/niveau5.js')

block content
    div(ng-controller="N5Controller as n5Ctrl")
        .mainWrapper
            h1 Postulation
            p#novemText
        .niveau5_glide.glide
            .glide__track(data-glide-el='track')
                ul.glide__slides
                    li.glide__slide(ng-repeat="prop in n5Ctrl.etape.propositions" value="{{prop.score}}" )
                        article
                            h2 {{prop.reponse.titre}}
                            p {{prop.reponse.description}}
            .glide__bullets(data-glide-el='controls[nav]')
                button.glide__bullet(data-glide-dir='={{index}}' ng-repeat="(index,prop) in n5Ctrl.etape.propositions" ng-init="initGlider($last)")
        .mainWrapper
            button.versNiveau Suivant
