extends layout

append scripts
    script(src='/javascripts/controllers/niveau3.js')

block content
    .main#niveau3(ng-controller='N3Controller as n3Ctrl')
        block toolBox
            include toolBox.jade
        div.novemVoice.animated.slideInUp
            p#novemText quel type de plan est le premier plan de cette vidéo?
        video#bgvid(autoplay='', loop='', poster='polina.jpg')
            source(src='/videos/video1.mp4', type='video/mp4')