extends layout

append scripts
    script(src='/javascripts/controllers/niveauF.js')

block content
    .main#niveau6(ng-controller="NFController as nfCtrl")
        .contentFullWidth
            .content