extends layout

append scripts
    script(src='/javascripts/controllers/niveau3.js')

block content
    .row.align-self-center.center.flex-w-80p(ng-controller='N3Controller as n3Ctrl')(ng-cloak)
        .col.col-sm-12
            .row.question
                .col.col-sm-8.center
                    p#novemText
            .row.justify-content-center
                .col.col-sm-8.center.list-group
                    .row.justify-content-center
                            img(ng-src='/images/happy_face.svg')
                    ul#sortable
                        li.ui-state-default(ng-repeat="prop in n3Ctrl.etape.propositions", value="{{prop.score}}")
                            span.ui-icon.ui-icon-arrowthick-2-n-s
                            | {{prop.reponse}}
                    .row.justify-content-center
                        img(ng-src='/images/sad_face.svg')
    button.center.versNiveau(style='display:none') Étape suivante
