extends layout

append scripts
	script(src='/javascripts/controllers/niveau1.js')

block content
	.mainWrapper(ng-controller="N1Controller as n1Ctrl")
		h1 Premier jour de travail …
		p#novemText
		.cards
			button.cards__item(ng-repeat="prop in n1Ctrl.etape.propositionsRandomised", value="{{prop.score}}")
				figure
					img(ng-src=`/images/tools/{{prop.filename}}.svg`)
					figcaption {{prop.reponse}}
		button.versNiveau(disabled) Suivant
	|   <img class="objectsBackground" sizes="(max-width: 768) 65vh, (min-width: 769) 120vh, 100vw"
	|    srcset="/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_200.jpg 200w,
	|    /images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_469.jpg 469w,
	|    /images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_673.jpg 673w,
	|    /images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_843.jpg 843w,
	|    /images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_993.jpg 993w,
	|    /images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1132.jpg 1132w,
	|    /images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1269.jpg 1269w,
	|    /images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1393.jpg 1393w,
	|    /images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1400.jpg 1400w"
	|    src="/images/Objets_volant_xc50oc/Objets_volant_xc50oc_c_scalew_1400.jpg"
	|    alt="" role="presentation">
