extends layout

append scripts
    script(src='/javascripts/controllers/niveau3.js')

block content
    .main#niveau3(ng-controller='N3Controller as n3Ctrl')
        .container.tools(ng-cloak)
            .row
                div.col-xs-6.col-md-4.n3-choice(ng-repeat="prop in n3Ctrl.etape.propositions", value="{{prop.score}}")
                    h1 {{prop.reponse}}
            .row
                button.versNiveau Prochaine étape
                div.novemVoice.animated.slideInUp
                    p#novemText
                    button.closeNovemVoice
                        span.glyphicon.glyphicon-chevron-down(aria-hidden='true')
                    section.stage
                        figure.ball
