extends layout

append scripts
    script(src='/javascripts/controllers/niveauF.js')

block content

    .main#niveau7(ng-controller="NFController as nfCtrl")
        .contentFullWidth
            .content
                .container.projet3
                    h1#mainTitle Ordre d'importance (plus haut = plus important)
                        ul#sortable1b.connectedSortable
                            li.ui-state-default R&D
                            li.ui-state-default Update
                            li.ui-state-default Stratégie UX
                        ul#sortable2b.connectedSortable
                            li.ui-state-highlight Agrandir les ressources
                            li.ui-state-highlight Investir dans d’autres produits
                            li.ui-state-highlight Promotion en continu
                    button#send7 Envoyer
                div.novemVoice.animated.slideInUp
                    p#novemText 