extends layout

append scripts
    script(src='/javascripts/controllers/niveau3.js')

block content
    .main#niveau3
        block novem
            include novem.jade
        block toolBox
            include toolBox.jade