extends layout

append scripts
    script(src='/javascripts/controllers/niveau4.js')

block content
    .main#niveau4(ng-controller="N4Controller as n4Ctrl")
            .container
                    h1#mainTitle S.E.O
                    .list-group
                        a.list-group-item(href='#')(ng-repeat="prop in n4Ctrl.etape.propositions", value="{{prop.score}}") {{prop.reponse}}
                       // a.list-group-item(href='#') {{n4Ctrl.etape.propositions[1].reponse}}
                        a.list-group-item(href='#') {{n4Ctrl.etape.propositions[2].reponse}}
                    button.versNiveau(style='display:none') Prochaine étape
    section.stage
        figure.ball
        div.novemVoice.animated.fadeIn
            p#novemText
            button.closeNovemVoice
                span.glyphicon.glyphicon-remove-sign(aria-hidden='true')