extends layout

append scripts
    script(src='/javascripts/controllers/niveauF.js')

block content

    .main#niveau9(ng-controller="NFController as nfCtrl")
        .contentFullWidth
            .content
                .container
                    .row   
                    .col-xs-12.col-md-4
                        .textProfil
                            span Profil de {{nfCtrl.joueur}}
                            h1 identifiant
                                small   {{nfCtrl.idRecrue}}
                    .col-xs-12.col-md-8
                        #profil
            button.versNiveau Prochaine recrue
    section.stage
        figure.ball
        div.novemVoice.animated.fadeIn
            p#novemText
            button.closeNovemVoice
                span.glyphicon.glyphicon-remove-sign(aria-hidden='true')
