extends layout

append scripts
    script(src='/javascripts/controllers/niveauF.js')

block content

    .main#niveau9(ng-controller="NFController as nfCtrl")
        .contentFullWidth
            .content
                .container
                    .row   
                    .col-xs-12.col-md-4
                        .textProfil
                            span bienvenue à toi
                            h1 RECRUE 
                                small #2312321
                    .col-xs-12.col-md-8
                        #profil
                    

