extends layout

append scripts
    script(src='/javascripts/controllers/profile.js')
    script(src='/javascripts/libs/alpine.min.js')
    script(src='/javascripts/libs/alpine-ie11.min.js')

block content
    .mainWrapper(ng-controller="NFController as nfCtrl")
        h1 {{nfCtrl.joueurName}}
        p.u-mt-1
            span Voici votre profil&nbsp;!
        p Ce graphique est une estimation de vos affinités pour chaque compétence de la formation.

    .schemaProfile(x-data="{ openStruct: false, openMark: false, openProg: false, openCont: false, openBusi: false, openInt: false }")
        include ../src/images/IngenierieMedias_Schema_Competences.svg

        .modal(role="dialog" aria-modal="true" x-show="openStruct" :class="{ 'visible': openStruct }")
            button.close(@click="openStruct = false")
                img(src="/images/Icon_Close.svg" loading="lazy" alt="" role="presentation")
            .mainWrapper
                h2 Structurer et planifier des projets numériques
                p Savoir organiser, planifier et budgétiser un projet numérique sont des compétences essentielles dans le monde digital.
                p Durant la formation, vous serez amené·e à gérer des projets en équipe et ce, pour de vrais clients. Centrée sur des projets pratiques et une approche agile, la formation vous aidera à développer tes capacités opérationnelles et à vous confronter au monde professionel.
        .modal(role="dialog" aria-modal="true" x-show="openMark" :class="{ 'visible': openMark }")
            button.close(@click="openMark = false")
                img(src="/images/Icon_Close.svg" loading="lazy" alt="" role="presentation")
            .mainWrapper
                h2 Marketing et communication digitale
                p De la publicité aux réseaux sociaux, des newsletters au marketing automatisé, de la communication classique à l’e-commerce, vous comprendrez les stratégies des marques pour attirer, convertir et fidéliser les clients connectés.
        .modal(role="dialog" aria-modal="true" x-show="openProg" :class="{ 'visible': openProg }")
            button.close(@click="openProg = false")
                img(src="/images/Icon_Close.svg" loading="lazy" alt="" role="presentation")
            .mainWrapper
                h2 Programmer pour le web
                p De l’enregistrement du nom de domaine au lancement du site, en passant par le contenu et l’ergonomie, vous découvrirez l’ensemble des étapes, des activités et des outils à utiliser pour développer un site internet, un site e-commerce ou une application mobile.
        .modal(role="dialog" aria-modal="true" x-show="openCont" :class="{ 'visible': openCont }")
            button.close(@click="openCont = false")
                img(src="/images/Icon_Close.svg" loading="lazy" alt="" role="presentation")
            .mainWrapper
                h2 Créer des contenus
                p En tant que consommateur·trice, nous amassons une forte quantité de contenus par minute. Que ce soit sur les réseaux sociaux, sur un site internet ou sur une application, les publications varient entre elles.
                p Articles, vidéos, photos, animations, podcasts sont des moyens d’expression que vous pratiquerez pendant la formation et développerez durant les projets concrets auprès de clients.
        .modal(role="dialog" aria-modal="true" x-show="openBusi" :class="{ 'visible': openBusi }")
            button.close(@click="openBusi = false")
                img(src="/images/Icon_Close.svg" loading="lazy" alt="" role="presentation")
            .mainWrapper
                h2 Imaginer et élaborer un business model
                p Définir le business model d’une entreprise est un prérequis indispensable à son lancement. C’est pourquoi, la formation d’ingénierie des médias vous permettra de mettre en place tous les éléments afin que vous puissez gérer ou créer votre propre start-up.
                p Après la formation, certain·e·s de nos ancien·ne·s étudiant·e·s ont pu lancer leur entreprise grâce à leurs compétences acquises durant la formation.
        .modal(role="dialog" aria-modal="true" x-show="openInt" :class="{ 'visible': openInt }")
            button.close(@click="openInt = false")
                img(src="/images/Icon_Close.svg" loading="lazy" alt="" role="presentation")
            .mainWrapper
                h2 Concevoir des interfaces
                p Rien de pire que d’aller sur un site internet et de ne pas trouver directement l’information que nous cherchons, de cliquer sur des liens inexistants ou de ne pas réussir à commander un article car le panier est introuvable.
                p Grâce aux cours sur la conception des interfaces ainsi que sur l’ergonomie d’un site internet, vous apprendrez à disposer les éléments et à réfléchir à la place de l’utilisateur.
    .mainWrapper
        a.versNiveau(href="/end") Suivant

