extends layout

append scripts
    script(src='/javascripts/controllers/profile.js')
    script(src='/javascripts/libs/Chart.min.js')
    script(src='/javascripts/libs/html2canvas.min.js')

block content
    .row.center.flex-w-80p#save(ng-controller="NFController as nfCtrl")
        .col.col-sm-4.center
            h2#endTitle {{nfCtrl.titre}}
            span.end-step1
                p Voici votre profil d'ingénieur·e des médias !
            span.end-step2
                p L'ingénierie des médias regroupe 6 axes de compétences
                ul.tab
                    li Conception UX et Design thinking
                    li Programmation web et mobile
                    li Management de contenus
                    li Communication et marketing digital
                    li Stratégie et modèles d'affaire
                    li Gestion de projet numérique
                p Ce graphique est une estimation de votre affinité pour chaque compétence de la formation.
            span.end-step3
                p Après trois années de Bachelor, vous aurez acquis le savoir nécessaire afin de posséder des compétences transversales dans tous ces domaines.
                p Ces compétences donnent à l’ingénieur·e en média la capacité de compréhension globale des produits et services digitaux.
                p Armé·e de ce Bachelor, vous êtes prêt·e à relever les défis de la révolution digitale. Vous n’êtes plus un·e consommateur passif mais un·e acteur capable de concevoir des produits et des services numériques. Vous savez observer finement des utilisateurs pour leur proposer des solutions adaptées et ergonomiques. Vous en programmez le fonctionnement. Vous menez des projets méthodiquement en prenant en compte les aspects marketing, techniques et de conception.
                p Durant le cursus, vous aurez également acquis les compétences nécessaires à développer votre culture digitale et vos «soft skill», tels que le travail en équipe, la communication interpersonnelle et la méthodologie de recherche.
            span.end-step4
                p Suite à votre formation, vous pourrez vous spécialiser dans un ou plusieurs de vos domaines de compétences, pour déboucher sur une fonction spécialisée.
                p Votre capacité de compréhension globale et d’adaptation vous permettra de vous spécialiser en fonction du contexte, que ce soit en agence, en entreprise ou comme indépendant.
                p Aujourd'hui, nos diplomé·e·s en Ingénierie des médias sont par exemple :
                ul.tab-jobs
                    li Chef·fe de projet digital
                    li Community manager
                    li Gestionnaire IT
                    li Front-end Developer
                    li Fondateur·trice de start-up
                    li Head of Digital Marketing
                    li E-Commerce Web Designer
                    li Consultant·e digital
                    li IT Operational Engineer
                    li Développeur·euse web et mobile
                    li Digital Marketing Manager
                    li Lead strategist
                    li Responsable Communication
                    li Digital Operations Manager
                    li UX/UI Designer
                    li Event Coordinator
            span.end-step5
                p Le titre de Bachelor of Science en Ingénierie des médias est également un tremplin pour accéder à une formation supérieure.
        .col.col-sm-8.align-elements-center
            canvas#profil
            .profil-sup
                    .col-sm-6.center
                        h3 +
                        h3 Soft Skills
                        h3 Culture digitale
            .formSup
                .row
                    .col-sm-6
                        h3 MSc HES-SO Innokick
                        p Integrated Innovation for Products and Business Development
                    .col-sm-6
                        h3 MSc BA / HES-SO
                        p Management des systèmes d’information
                    .col-sm-6
                        h3 MMSE / HES-SO
                        p Master Technologies de l’information et communication
                    .col-sm-6
                        h3 Master of Arts
                        p In Media Design, HEAD Genève
    button.center.versNiveau(data-html2canvas-ignore="true") Suite
