extends layout

append scripts
    script(src='/javascripts/controllers/save.js')

block content
    .row.align-self-center.center.flex-w-80p(ng-controller="SaveController as sCtrl")
        .col.col-sm-12
            .row.question
                .col.col-md-8.center
                    p#novemText
            .row.justify-content-center.next
                    .col.col-sm-8(align="center")
                        input.end(type='email', placeholder='e-mail', ng-model='sCtrl.email')
                        .alert.alert-warning {{sCtrl.error}}
                        .btn-group.btn-group-vertical(data-toggle="buttons")
                            label.btn(for="allow")
                                input(type='checkbox' ng-model='sCtrl.allowEmail' id="allow" name="allow")
                                i.fa.fa-square-o.fa-2x
                                i.fa.fa-check-square-o.fa-2x
                                span Je veux recevoir les informations de la filière par e-mail
            .div-spacer
            .row.justify-content-center.next
                    .col.col-sm-8(align="center")
                        button.startButton(ng-click='sCtrl.save()') Voir mes résultats
