extends layout

append scripts
    script(src='/javascripts/controllers/save.js')

block content
    .main#save(ng-controller="SaveController as sCtrl")(ng-cloak)
        .row.question
            .col.col-md-8.center
                p#novemText
        .row.justify-content-center.next
                .col.col-sm-8(align="center")
                    input(type='checkbox', ng-model='sCtrl.allowEmail', style="margin-right:15px;" name="allow")
                    label(for="allow") Je veux recevoir les informations de la filière par e-mail 
                    input(type='text', placeholder='e-mail', ng-model='sCtrl.email', style="margin-left:15px;")
        .div-spacer
        .row.justify-content-center.next
                .col.col-sm-8(align="center")
                    button.startButton(ng-click='sCtrl.save()') Voir mes résultats
                    .alert.alert-warning(style="margin-top:15px;") {{sCtrl.error}}

            
