body
{
    font: 14px "Lucida Grande",Helvetica,Arial,sans-serif;
    padding: 50px;
}

a
{
    color: #00B7FF;
}

.tools
{
    text-align: center;
    margin-top:10%;
}

.tools .col-xs-4 img
{
    max-width: 80px;
}

.tools .col-xs-4 h1
{
    color: #bdc3c7;
    font-size: 14px;
    text-transform: uppercase;
}

.tools .col-xs-4
{
    padding: 20px;
    border: 8px solid #000;
    border-radius: 15px;
    -webkit-transition: border .4s ease-in;
    transition: border .4s ease-in;
    background: #29282A;
}

.tools .col-xs-4:hover
{
    border: 8px solid #ffff;
}

.tools .col-xs-4.active
{
    border: 8px solid #000000;
    background: #ecf0f1;
}

.tools .col-xs-4.active:hover
{
    border: 8px solid #29282A;
}

.tools .col-xs-4.active h1
{
    color: #000;
}

button.versNiveau
{
    height: 75px;
    border-radius: 10px;
    border: 0;
    padding: 25px;
    background: #2ecc71;
}

.main
{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    min-height: 400px;
}

.left,.right
{
    background: -webkit-radial-gradient(center,circle farthest-corner,rgba(255,255,255,0) 50%,rgba(200,200,200,1)),-webkit-radial-gradient(center,circle,rgba(255,255,255,.35),rgba(255,255,255,0) 20%,rgba(255,255,255,0) 21%),-webkit-radial-gradient(center,circle,rgba(0,0,0,.2),rgba(0,0,0,0) 20%,rgba(0,0,0,0) 21%),-webkit-radial-gradient(center,circle farthest-corner,#f0f0f0,#c0c0c0);
    background: -moz-radial-gradient(center,circle farthest-corner,rgba(255,255,255,0) 50%,rgba(200,200,200,1)),-webkit-radial-gradient(center,circle,rgba(255,255,255,.35),rgba(255,255,255,0) 20%,rgba(255,255,255,0) 21%),-webkit-radial-gradient(center,circle,rgba(0,0,0,.2),rgba(0,0,0,0) 20%,rgba(0,0,0,0) 21%),-webkit-radial-gradient(center,circle farthest-corner,#f0f0f0,#c0c0c0);
    background: -ms-radial-gradient(center,circle farthest-corner,rgba(255,255,255,0) 50%,rgba(200,200,200,1)),-webkit-radial-gradient(center,circle,rgba(255,255,255,.35),rgba(255,255,255,0) 20%,rgba(255,255,255,0) 21%),-webkit-radial-gradient(center,circle,rgba(0,0,0,.2),rgba(0,0,0,0) 20%,rgba(0,0,0,0) 21%),-webkit-radial-gradient(center,circle farthest-corner,#f0f0f0,#c0c0c0);
    background: -o-radial-gradient(center,circle farthest-corner,rgba(255,255,255,0) 50%,rgba(200,200,200,1)),-webkit-radial-gradient(center,circle,rgba(255,255,255,.35),rgba(255,255,255,0) 20%,rgba(255,255,255,0) 21%),-webkit-radial-gradient(center,circle,rgba(0,0,0,.2),rgba(0,0,0,0) 20%,rgba(0,0,0,0) 21%),-webkit-radial-gradient(center,circle farthest-corner,#f0f0f0,#c0c0c0);
    background: radial-gradient(center,circle farthest-corner,rgba(255,255,255,0) 50%,rgba(200,200,200,1)),-webkit-radial-gradient(center,circle,rgba(255,255,255,.35),rgba(255,255,255,0) 20%,rgba(255,255,255,0) 21%),-webkit-radial-gradient(center,circle,rgba(0,0,0,.2),rgba(0,0,0,0) 20%,rgba(0,0,0,0) 21%),-webkit-radial-gradient(center,circle farthest-corner,#f0f0f0,#c0c0c0);
    background-size: 100% 100%,10px 10px,10px 10px,100% 100%;
    background-repeat: no-repeat,repeat,repeat,no-repeat;
    background-position: top center,1px 1px,0 0,top center;
    border: 2px solid #818181;
    width: 50%;
    height: 100%;
    position: absolute;
    display: inline-block;
}

.right
{
    right: 0;
    border-right:0;
}


.left
{
    padding:10% 0 0 0;
    left: 0;
    border-left:0;
}

#intro .credentials{
    top:10%;
    height:230px;
    width:100%;
    text-align:center;
}

#intro .credentials p{
    line-height:230px;
    opacity:0.6;
}

#intro .credentials img{
    margin: 0 20px 0 0;
}

#intro
{
    z-index: 100;
    background: url(../images/bgaccueil.png) center;
    background-size:auto;
}

.button
{
    position: relative;
    margin: auto;
    top: 40%;
    border-radius: 100%;
    height: 230px;
    width: 230px;
    cursor: pointer;
}

.intro
{
    font-family: "Brasilia-Short II","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    position: absolute;
    width:100%;
    display: none;
    text-align: center;
    top: 10%;
}

img.header
{
    max-width: 600px;
    width: 100%;
}

.intro input
{
    font-size: 26px;
    color: cornflowerblue;
    border: 1px solid #1f6582;
    border-radius: 10px;
    padding: 10px;
}

.intro input[type="text"]:focus,input[type="password"]:focus,textarea:focus
{
    outline: none;
}

::-webkit-input-placeholder
{
    color: lightgrey;
}

:-moz-placeholder
{
    color: lightgrey;
    opacity: 1;
}

::-moz-placeholder
{
    color: lightgrey;
    opacity: 1;
}

:-ms-input-placeholder
{
    color: lightgrey;
}

.startButton
{
    color: black;
    border: 2px solid #1f6582;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    cursor: pointer;
    margin: 20px auto 0;
    background: white;
}

.startButton:hover
{
    color: white;
    background: #1f6582;
}

body .loader_cogs__top
{
    position: relative;
    width: 230px;
    height: 230px;
    -webkit-transform-origin: 50px 50px;
    transform-origin: 50px 50px;
}

body .loader_cogs__top div:nth-of-type(1)
{
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);

}

body .loader_cogs__top div:nth-of-type(2)
{
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

body .loader_cogs__top div:nth-of-type(3)
{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

body .loader_cogs__top div.top_part
{
    width: 230px;
    border-radius: 10px;
    position: absolute;
    height: 230px;
    background: darkgrey;
}

body .loader_cogs__top div.top_hole
{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: whitesmoke;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@-webkit-keyframes rotate {
    from
    {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to
    {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from
    {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to
    {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader-ring
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -120px;
    width: 240px;
    height: 240px;
    -moz-border-radius: 240px;
    -webkit-border-radius: 240px;
    border-radius: 240px;
    background: url("../images/novemlab_bgblue.png") no-repeat center;
    background-size:cover;
}

.loader-ring-light
{
    width: 240px;
    height: 240px;
    -moz-border-radius: 240px;
    -webkit-border-radius: 240px;
    border-radius: 240px;
    -moz-box-shadow: 0 4px 0 #5e93f2 inset;
    -webkit-box-shadow: 0 4px 0 #5e93f2 inset;
    box-shadow: 0 4px 0 #5e93f2 inset;
    animation: rotate-360 2s linear infinite;
}

.loader-ring-track
{
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    -moz-border-radius: 240px;
    -webkit-border-radius: 240px;
    border-radius: 240px;
    -moz-box-shadow: 0 0 10px 4px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: 0 0 10px 4px rgba(0,0,0,0.3) inset;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.3) inset;
}

@keyframes rotate-360 {
    from
    {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to
    {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#niveau1
{
    z-index: 99;
}

#niveau2,#niveau3
{
    z-index: 98;
    background: #a8a8a8;
}

.novemVoice{
    color:#002039;
    width:50%;
    min-height:150px;
    position:absolute;
    left:25%;
    bottom:-5px;
    margin:auto;
    padding:2em 2em 2em 2em;
    border-radius:10px 10px 0px 0px;
    z-index: 2;
    font: bold 1.7em "Courier New",Courier,monospace;
    background: white;
}

.toolBox
{
    color: black;
    width: 15%;
    position: absolute;
    right: -10px;
    bottom: 30px;
    margin: auto;
    border-radius: 40px 0 0 40px;
    cursor: pointer;
    z-index: 3;
    /*font: bold 17px "Courier New",Courier,monospace;*/
    font-size: 18px;
    background: white;
}

.toolBox .title{
    background-color:#1f6582;
    height: 50px;
    margin: -10px 0 0 0;
    padding:8px 0 0 8px;
    color:white;
}
.grille
{
    width: 95%;
    margin: 0 0 .5em 1em;
}

.outil
{
    width: 80px;
    height: 80px;
    margin-top: .5em;
    margin-left: .9em;
    position: relative;
    display: inline-block;
    background: #1f6582;
}

.outil:hover
{
    background: cadetblue;
}

.choixQuestion
{
    font-family: "Courier New",Courier,monospace;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 5;
}

#ongletMenu .onglets
{
    list-style-type: none;
    border-bottom: 1px solid #9EA0A1;
    margin-left: 0;
    height:100px;
    position: fixed;
    width: 100%;
    background: #002039;
    font-size:32px;
}

#ongletMenu .onglets li
{
    float: left;
    height: 95px;
    margin: 5px 5px 0!important;
    color: white;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    opacity: .7;
    text-align:center;
    min-width:190px;
    background: rgba(0, 9, 29, 0.71);
}

#ongletMenu .onglets li:before {
    content:"?";
    left: 0;
    color:lightgrey;
    font-size:42px;
    margin-right:5px;
}

#ongletMenu .onglets li.active:before {
    content:"?";
    left: 0;
    color:limegreen;
    font-size:42px;
}


#ongletMenu .onglets li:hover
{
    opacity: 1;
}

#ongletMenu .onglets li.active
{
    opacity: 1;
    background: #006784;
}

#ongletMenu
{
    position: relative;
    height: 70px;
}

/* CSS Simple Pre Code */
pre {
    background: #333;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
}

pre.code {
    background: #333;
    top:25px;
    height:100%;
    width:100%;
    margin:auto;
    border-radius: 4px;
    border: 1px solid #292929;
    position: relative;
}

pre.code label {
    font-family: sans-serif;
    font-size: 26px;
    color: #858585;
    position: absolute;
    left: 4px;
    top: 15px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

pre.code code {
    font-family: "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    display: block;
    margin: 0 0 0 120px;
    padding: 25px 16px 25px 25px;
    border-left: 1px solid #555;
    /*overflow-x: auto;*/
    font-size: 32px;
    line-height: 36px;
    color: #ddd;
}

@media screen and (max-width: 800px) {
    .novemVoice
    {
        width: 80%;
        height: 9em;
        position: absolute;
        left: 10%;
    }

    .toolBox
    {
        right: -50px;
        bottom: 11em;
        font-size: 13px;
        width: 30%;
        transition: 1.4s;
    }

    .toolBox:hover
    {
        right: -2px;
        bottom: 11em;
        font-size: 13px;
        width: 30%;
    }

    .grille
    {
        width: 80%;
    }

    .algo
    {
        font-size: 15px;
        margin-left: 10%;
        width: 80%;
    }
}

#novemText
{
    padding: 5px;
}

#novemText p
{
    color: darkred;
}

.contentFullWidth{
    width:100%;
    height:100%;
}
#sortable, #sortable1, #sortable2, #sortable1b, #sortable2b  { color:#fff; list-style-type: none; margin: 0 auto; padding: 0; width: 60%; cursor: move;}
#sortable li {background: #5ca5ff;
    margin: 0 5px 5px 5px;
    padding: .5em 2em 2em 2em;
    padding-left: 1.5em;
    font-size: 1.2em;
    height: 18px;
    border-radius: 15px;
}
#sortable li span { position: absolute; margin-left: -1.3em; }

h1#mainTitle{
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
.projet1, .projet2, .projet3{
    text-align: center;
}

#sortable1{
    margin-top: 20px;
}
.green {
    background: #5ca5ff;
    margin: 0 5px 5px 5px;
    padding: .5em 2em 2em 2em;
    padding-left: 1.5em;
    font-size: 1.2em;
    height: 18px;
    border-radius: 15px;
}
.red {
    background: #29282A;
    color: #bdc3c7;
    margin: 0 5px 5px 5px;
    padding: .5em 2em 2em 2em;
    padding-left: 1.5em;
    font-size: 1.2em;
    height: 18px;
    border-radius: 15px;
    text-decoration: line-through;
}
canvas#myCanvas{
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	display: block;
}
#niveau4{
text-align: center;
}
#niveau4 .list-group{
display: block;
margin-top: 50px;
}
#niveau4 .list-group .active{
background-color: #5ca5ff;
}

/*etapes 3*/

.reps
{
    text-align: center;
}

.reps .col-xs-4 img
{
    max-width: 80px;
}
.reps .col-xs-4
{
    padding-left:0;
    height:30%;
}


.reps .col-xs-4 h1
{
    color: black;
    font-size: 24px;
    text-transform: uppercase;
}

.choix{
    border-radius: 15px;
    -webkit-transition: border .4s ease-in;
    transition: border .4s ease-in;
    background: rgba(92,165,255,0.8);
    height:100%;
    margin-top:30px;
    width:80%;
    margin-left:10%;
    text-align: center;
    cursor: pointer;


}

.valider:hover{
    color:white;
    background-color: darkblue;
}


.choix:hover
{
    opacity:1;
}

.choix.selected
{
}

.reps .col-xs-4.active h1
{
    color: #000;
}

.videoDiv {
    margin-bottom:600px;
    width:80%;
    margin:auto;
    z-index:-10;
}

.bandBottom{
    width:100%;
    height:25%;
    background-color: black;
    bottom:0;
    margin-bottom: 0;
    z-index:-5;
    position:fixed;
}

.bandTop{
    width:100%;
    height:15%;
    background-color: black;
    top:0;
    margin-top: 0;
    z-index:-5;
    position:fixed;
}

.reps{
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.5);
    position:absolute;
    top:0;
}

#niveau3 .reps .valider{
    display:none;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    background: rgba(92,165,255,0.8);
    cursor: pointer;
    z-index:500;
    font-size:36px;
    width:20%;
    margin:30px auto 0 auto;
    top:20px;
    min-width:200px;
}

.rep{
    margin-top: 4%;
    height:50%;
    background-color: darkred;
}

.icon{
    margin-top:5%;
    width:30%;
    background-repeat: no-repeat;
}
.main#niveau3{
    background-color: black;
}


@media screen and (max-width: 800px) {

    .bandTop{
        height:10%;
    }
    .videoDiv {
        margin-left: 0;
        width:100%;
        z-index:-10;
    }

    .reps .col-xs-4 h1
    {
        color: black;
        font-size: 24px;
        text-transform: uppercase;
    }
}

