.sortable {
    display: grid;
    grid-template-columns: 35px 1fr;
    margin-top: 1rem;
    visibility: hidden; //Hide sortable during loading
}

.sortable__scale {
    background: linear-gradient(180deg, #E2051C 13.61%, #640C00 88.1%);
    padding: 5px;

    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
        width: 15px;
    }
}

.sortable__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sortable__item {
    padding: 1rem 1.5rem;
    color: var(--heig-red);
    font-weight: 600;

    background: #fff;
    border: 2px solid var(--heig-red);
    margin-top: -2px;

    &:first-child {
        margin-top: 0;
    }
}

@media only screen and (max-height: 600px) {
    .sortable__item {
        padding: 0.75rem 1.25rem;
    }
}

@media only screen and (min-width: 768px) {
    .sortable__item {
        padding: .8rem ($main-padding-left - 5vw);
    }
}
