.modal {
    position: fixed;
    overflow: auto;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: var(--heig-red);

    z-index: 10;

    display: flex;
    flex-direction: column;

    &.visible {
        visibility: visible;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        font-size: 1.2rem;
    }

    li+li {
        margin-top: 0.5rem;
    }

    a {
        font-weight: 700;
        color: #fff;
        text-decoration: none;
    }

    .close {
        margin-top: 3rem;
        margin-bottom: 6rem;
        text-transform: uppercase;
        align-self: flex-end;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--heig-red);

        img {
            margin-right: 2rem;
        }
    }

    @media only screen and (min-width: 768px) {
        .close{
            margin-bottom:0;
        }
    }
}
